/*****************Header*************************/
.site-header {
    display: flex;
    flex-flow: row wrap;
    height: 105px;
    padding: 1rem 0;
    background-repeat: repeat;
    box-shadow: 0 5px 5px #ddd;
  }
  
  .site-branding {
    width: 40%;
  }
  
  .main-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
  }
  
  .site-branding img {
    display: block;
    width: 30%;
    height: auto;
    margin: 0 auto;
  }
  
  .dsignfly-menu,
  .dsignfly-search {
    display: inline-block;
  }
  
  .dsignfly-menu__list > .menu-item a {
    padding: 4px 10px;
    margin-left: 4px ;
    margin-right: 4px;
    border-radius: 3px;
    font-family: var(--dsignfly-font-family);
    font-weight: var(--dsignfly-font-weight-bold);
    font-size: 14px;
    color: #222;
    transition: 500ms ease-in-out;
  }
  
  .dsignfly-menu__list > .menu-item a:hover {
    background-color: #ef4643;
    color: #fff;
  }
  
  .dsignfly-search {
    padding: 0 20px;
    margin-top: 10px;
  }
  
  .dsignfly-search .search-input {
    display: inline-block;
    width: 150px;
    
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #62585f;
  }
  
  .search-submit-btn {
    padding: 0;
    border: none;
    margin-top: -6px;
    margin-left: 4px;
   
    cursor: pointer;
  }
  
  .search-submit-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: 0 -4%;
  }
/***********************footer*************************/
.content .info .dsign-title,
.content .contact-us .dsign-title {
    font-size: 1.8rem;
    color: #62585f;
    text-shadow: 2px 0 #fff;
    margin-bottom: 10px;
}    
.dsign-title a {
    color: #62585f;
}    
.dsign-title  {
  color: #62585f;
  font-size: 25px;
  font-family: 'open sans regular','open sans bold', 'Arial Narrow Bold', sans-serif;
}   
.dsign-title a:hover {
    text-decoration: none;
}    

.content .info .para,
.content .contact-us .address,
.content .contact-us .email {
    font-size: 1rem;
    color: #62585f;
    line-height: 1.5rem;
    margin-bottom: 10px;
}    

.content .contact-us .email {
    display: inline-block;
    color: #ef4634;
}    

.content .info .read-more {
    display: block;
    color: #ef4634;
    margin-top: 10px;
}    

.contact-us .social-media {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}    

.contact-us .social-media li {
    margin: 0 2px;
}    

.contact-us .social-media li:first-child {
    margin-left: 0;
}    

hr.bar {
    margin-left: 10%;
    background: #62585f;
    height: 1px;
}    

hr:first-child {
    margin-bottom: 20px;
}    

.site-info {
    display: flex;
    justify-content: center;
    align-items: center;
}    

.site-info p {
    display: inline-block;
    margin: 10px 0 20px 0;
    font-size: 14px;
    color: #62585f;
}    

.social-media a {
    color: #ef4634;
} 
.dsign-footer {
  display: flex;
  flex-direction: row;
  margin-left: 10%;

}

.welcome{

 padding: 15px;
 width: 50%;
}
.contact-us{
  padding: 15px;
  width: 50%
}
.read-more{
  font-family: 'open sans regular','open sans bold','Times New Roman', Times, serif;
  font-size: 14px;
  color: #ef4634;
}
.read-more:hover{
  text-decoration: underline;
}