.site-header {
    display: flex;
    flex-flow: row wrap;
    height: 105px;
    padding: 1rem 0;
    background-repeat: repeat;
    box-shadow: 0 5px 5px #ddd;
  }
  
  .site-branding {
    width: 40%;
  }
  
  .main-navigation {
    display: flex;
    align-items: center;
    width: 60%;
    vertical-align: middle;
  }
  
  .site-branding img {
    display: block;
    width: 30%;
    height: auto;
    margin: 0 auto;
  }
  
  .dsignfly-menu,
  .dsignfly-search {
    display: inline-block;
  }
  
  .dsignfly-menu__list > .menu-item a {
    padding: 4px 10px;
    border-radius: 3px;
    font-family: var(--dsignfly-font-family);
    font-weight: var(--dsignfly-font-weight-bold);
    font-size: 14px;
    color: #222;
    transition: 500ms ease-in-out;
  }
  
  .dsignfly-menu__list > .menu-item a:hover {
    background-color: #ef4643;
    color: #fff;
  }
  
  .dsignfly-search {
    padding: 0 20px;
    margin-top: -5px;
  }
  
  .dsignfly-search .search-input {
    width: 150px;
    height: 20px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #62585f;
  }
  
  .search-submit-btn {
    padding: 0;
    border: none;
    margin-top: 4px;
    cursor: pointer;
  }
  
  .search-submit-img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: 0 -4%;
  }